  /*사용폰트
 font-family: 'Noto Sans KR', sans-serif;
*/

/*공통*/
.text_box > p, .join span, .login_check label, .join_bottom span, .join_bottom a { font-size:14px; color:#a7a7a7; }

/*login*/
.login { max-width: 490px; height:800px; border: 1px solid #707070; margin: 0 auto;  position: relative;  text-align: center;  font-family: 'Noto Sans KR', sans-serif;  margin-top: 220px; margin-bottom: 90px;}
.login .inner { padding:20px; height: 100%;}

/*text_box*/
.login .text_box { padding-top: 80px;}
.login .text_box img { padding-bottom:20px;}
.text_box > p { font-size:15px; color: #111;}
.join_top { margin-top: 65px;}

/*login_box*/
.login_box { margin: 0 auto; padding-top: 70px; max-width: 420px;}
.login_box input { display:block; width:100%; display: inline-block; height: 43px; margin-bottom: 12px;  text-indent: 8px; box-sizing: border-box; border: 1px solid #a7a7a7; }

.login_box input:focus { border:1px solid #111; border-radius: 0; appearance: none; outline:none;}

/*button*/
.join_top .button01 { margin: 0 auto; max-width:420px; height:43px; background:#222; color:#fff; padding-top:12px; display:block; font-size:14px;}
.join_top .button01:hover { font-weight:bold;}

.join_top .button02 { margin: 0 auto; max-width:420px; height:43px; background:#1ec800; color:#fff; padding-top:12px; display:block; margin-top: 10px; margin-bottom: 10px; font-size:14px;}
.join_top .button02:hover { font-weight:bold;}

.join_top .button03 { margin: 0 auto; max-width:420px; height:43px; background:#fee500; color:#222; padding-top:12px; display:block; font-size:14px;}
.join_top .button03:hover { font-weight:bold;}


/*login_check*/
.login_check { float:left;}
.login_check input { display:none;}
.login_check input[type=checkbox].checker:checked + label { 
	display: inline-block; 
	cursor: pointer; 
	line-height: 15px; 
	background:url("../img_login/click.jpg")no-repeat;
	}

.login_check input[type='checkbox']+label {
	display: inline-block; 
	cursor: pointer; 
	padding-left: 20px; 
    background: url("../img_login/none_click.png") no-repeat;	
}

/*join_bottom*/
.join_bottom { margin-top: 42px;}
.join_bottom a:hover { color:#111;}


/*태블릿*/
@media screen and (max-width: 770px){
	.login { margin-top:100px;}
}

/*작은화면*/
@media screen and (max-width: 550px){
	.login { border:none; height:100%;}
	.login .text_box { padding:0;}
    .login_box { padding-top: 55px;}
	
	.join_top { margin-top: 40px;}
}